.h1{
	display: flex;
  justify-content: center;
  align-items: center;
}

body {
font-family: 'Montserrat', sans-serif;
background-color: #4686e0b5;
	padding: 40px;
}

.text{font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 26px;
color: #595959;
width: 800px;
padding-left: 48px}

.photo{
	margin-left: 48px
}

.top_name{
	display: flex;
}

.h3{display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  style="font-family: 'Montserrat', sans-serif;
}

.obklad{
	display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin: 20px;
  style="font-family: 'Montserrat', sans-serif;
}

.album{
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  height: 400px;
  width: 400px;
}

.row{
 text-align: center;
  list-style-position: inside;
  margin: 15px;
  font-size: 26px;
}

.audio{
	display: flex;
	padding: 10px;
	margin: 10px;
}